<%= @player1_name %> <%= @player2_name %>

<div class="hitpoints">
  <%= @player1_name %> has 23 points
  <br>
  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
