<%= @game.player1.name %> <%= @game.player2.name %>

<div class="hitpoints">
  <%= @game.player2.name %> has <%= @game.player2.hitpoints %> points
  <br>
  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
